
@{
    ViewBag.Title = "test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<script src="~/mapdata.js"></script>
<script src="~/countrymap.js"></script>
<div id="map"></div>
<style type="text/css">
    .legend {
        color: black;
        width: 100%;
        font-family: arial;
        font-size: 14px;
    }

    .legend_color {
        display: table;
        width: 100%;
        background: white;
        list-style: none;
        margin: 0px;
        padding: 0px;
    }

        .legend_color li {
            width: 20%;
            height: 20px;
            display: table-cell;
        }

    .legend_label {
        display: table;
        width: 100%;
        padding: 0px;
        padding-left: 10%;
        padding-right: 10%;
        list-style: none;
        margin: 0px;
        box-sizing: border-box;
    }

        .legend_label li {
            width: 25%;
            height: 20px;
            display: table-cell;
            text-align: center;
        }
</style>



