
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <style>



            .card-container {
                background-color: #f3fff370;
                display: flex;
                justify-content: center;
                gap: 131px;
                margin-top: 24px;
            }

            .card {
                width: 300px;
                border: 1px solid #ddd;
                border-radius: 10px;
                box-shadow: 0 2px 4px rgba(0,0,0,0.1);
                text-align: center;
                margin: 10px;
                transition: transform 0.2s, box-shadow 0.2s;
            }

                .card:hover {
                    transform: scale(1.05);
                    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
                }

                .card img {
                    width: 100%;
                    height: auto;
                    border-bottom: 1px solid #ddd;
                    border-radius: 10px; 
            }

            .card h5 {
                margin: 31px 0;
            }

        .btn-primary {
            font-size: 20px;
            background-color:#5b8c51; 
            border-color: #5b8c51; 
            color: white;
            padding: 10px 20px;
            border-radius: 5px;
            text-decoration: none;
            transition: background-color 0.2s, border-color 0.2s;
        }

            .btn-primary:hover {
                background-color: #218838; 
                    border-color: #1e7e34;
                }

            h5, .h5 {
                font-size: 2.25rem;
            }
    </style>
</head>

<body>
    <h1 style="text-align:center">القوائم المحلية و الحزبية  </h1>


    <hr />
    <div class="card-container">
        <div class="card">
            <img src="~/image/voting2.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">القوائم الحزبية</h5>
                @Html.ActionLink("انتقل الى القائمة", "partyName", null, new { @class = "btn-primary" })
            </div>
        </div>

        <div class="card">
            <img src="~/image/voting.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">القوائم المحلية</h5>

                @Html.ActionLink("انتقل الى القائمة", "areaName", null, new { @class = "btn-primary" })

            </div>
        </div>
    </div>


</body>
</html>



